@charset "utf-8";
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0;}
body,button,input,select,textarea{font:400 .3rem/1.5 -apple-system, BlinkMacSystemFont, 'PingFang SC','Helvetica Neue',STHeiti,'Microsoft Yahei',Tahoma,Simsun,sans-serif;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,iframe{display:block;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500;word-break: break-word;}
address,cite,dfn,em,var,i{font-style:normal;font-weight:400;}
html,body{height:100%;}
ul,ol{list-style:none;}
pre{white-space:pre-wrap;word-break: break-word;}
p {word-break: break-word;}
img{max-width:100%;height:auto;}
a{text-decoration:none;}
iframe,fieldset,img,button,input{border:0;}
button,input[type='button'], input[type='submit']{line-height:normal;}
table{border-collapse:collapse;border-spacing:0;}
input,textarea{border:0;background:transparent;box-sizing:border-box;outline:0;-webkit-appearance:none;border-radius:0;}
*,*:before,*:after {box-sizing: inherit;margin: 0;}
a:focus,a:active {outline: none;}
a,a:focus,a:hover {cursor: pointer;color: inherit;text-decoration: none;}
div:focus {outline: none;}

/* layouts */
#__nuxt,
#__layout{height:100%;}
.app-wrap{display:flex;flex-direction:column;height:100%;}
/* mescroll */
.mescroll{box-sizing:border-box;flex: 1;width:100%;height:100%;overflow-y:auto;} /* width height overflow 兼容未加载mescroll依赖css的页面 */
.mescroll-upwarp{display: none !important;}
.mescroll-upwarp .bottm-tip{font-size:.24rem;}

body {
  overflow-x: hidden;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 1);
  -webkit-font-smoothing: antialiased;
  user-select: none;
  font-size: 0.24rem;
  color:#00001B;
}

.ellips {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/* border line */
.border-top-line::after,
.border-right-line::after,
.border-bottom-line::after,
.border-left-line::after {
  position: absolute;
  content: '';
  background-color: #eee;
}

.border-top-line::after,
.border-bottom-line::after {
  left: 0;
  right: 0;
  height: 1px;
  z-index: 10;
  -webkit-transform: scaleY(.5);
  transform: scaleY(.5);
}

.border-top-line::after {
  top: 0;
}

.border-bottom-line::after {
  bottom: 0;
}

.border-right-line::after,
.border-left-line::after {
  top: 0;
  bottom: 0;
  width: 1px;
  z-index: 10;
  -webkit-transform: scaleX(.5);
  transform: scaleX(.5);
}

.border-right-line::after {
  right: 0;
}

.border-left-line::after {
  left: 0;
}

/* 公共按钮样式 */
.common-submit {
  margin: 0 0.4rem 0.2rem;
  height: 0.96rem;
  line-height: 0.96rem;
  font-size: 0.36rem;
  color: #fff;
  background-color: #ef2680;
  border-radius: 0.48rem;
  font-weight: bold;
  text-align: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}